@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Rozha+One&display=swap');

/* set default */

*{font-size: 17px;}
:root {
    --main-color: #ff9680;
    --sub-color: #9590A9;
    --thrid-color: #F6D2B7;
    --main-font: 'Rozha One';
    --sub-font: 'Markazi Text';
}

h1,
h3,
h5 {
    text-align: center;
    font-family: var(--main-font)
}

h2,
h4,
h6 {
    text-align: center;
    font-family: var(--sub-font);
}

#developer p,
#developer h1,
#developer h2 {
    color: white
}

p {
    color: var(--sub-color);
    text-align: center;
}

html,
body {


    font-family: 'Markazi Text', arial, 'Rozha One', serif;
}

main{
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 1.7rem;
    color: var(--sub-color)
}

h2 {
    font-size: 1.3rem;
    color: var(--sub-color)
}

header {
    /* height: 120px; */
  
    position: relative;
}

nav {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    position: sticky;
    z-index: 20;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}


/* mobile menu  */
#logo {
    display: block;
    /* background-image: url('./image/logo-white.png'); */
    cursor: pointer;
    left: 2rem;
    position: absolute;
    z-index: 11;
    display: inline-block;
    width: 80px;
    height: auto;
    padding-top: 1rem;
}

a {
    text-align: center;
    color: white
}



.menu-box {
    z-index: 20;
    position: absolute;
    /* argin: 0 0 0 3rem; */
    width: 64px;
    height: 40px;
    margin-left:calc(100vw / 1.5)
   
   
}
/* #check +div.menu-box{
    right:4rem;
} */
.mobile-menu a {
    margin: 0;
    font-size: 20px;
    color: var(--sub-color)
}

a.nav-link {
    font-size: 2rem;
}

.mobile-menu {
    padding: 0
}

.mobile-menu {
    z-index: 1;
    transition: 1s;
    left: -200%;
    position: absolute;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.95);
    height: 100vh
}

ul.desktop-menu {
    display: none;
}

/* hamberg menu effects */
.hamberg {

    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    float: right;

    margin-top: 1rem;

}

.line {

    top: 50%;
    margin-top: -4px;
    position: absolute;

    display: block;
    background-color: white;
    width: 100%;
    height: 10px;
    transition: ease 1s;

}

label {
    cursor: pointer
}

span.line:before,
span.line:after {

    position: absolute;
    background-color: white;
    content: "";
    width: 100%;
    height: 100%;
    transform: translate(0, -16px);



}

span.line:after {
    transform: translate(0, 16px)
}


#check {
    display: none;
}

#check:checked~div.menu-box label span:before,
#check:checked~div.menu-box label span:after {
    width: 60%;
    z-index: 20;

}

#check:checked~.menu-box label span:before {
    transform: translate(32px, -11px) rotate(45deg);
    background-color: var(--sub-color);

}

#check:checked~.menu-box label span:after {
    background-color: var(--sub-color);
    transform: translate(32px, 11px) rotate(-45deg);

}

#check:checked~.menu-box span.line {
    background-color: var(--sub-color);
}

#check:checked~.mobile-menu {

    left: 0;
}

#check:checked~.menu-box .hamberg {
    animation: menu-a ease 1.5s forwards;
}

@keyframes menu-a {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }

    to {
        opacity: 1;
        transform: rotate(180deg);
    }
}

/* arrow animation indicaiting going down */
.fa-caret-down {
    color: var(--main-color);
    font-size: 4rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow ease-in-out infinite 2s
}


.btn1 {
    color: var(--sub-color)
}

.btn2 {
    color: white
}

.data_box {
    display: inline-block;
}

.fa-sign-in-alt {
    font-size: 2rem;
}

.btn1 {
    transform: rotate(180deg);
}

@keyframes arrow {
    from {
        opacity: 0.5;
        transform: translate(-50%, 0px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 150px);
    }

}

.mobile-menu:first-child {
    padding-top: 10px
}

a.nav-link {

    font-size: 2rem;
    line-height: 50px;
    font-family: 'Rozha One';
}

a.nav-link:hover {
    color: #ff9680
}

/* main {
    /* position: absolute;
    top: 0
} */ 

#home {
    width: 100vw;
    height: 100vh;
    overflow: hidden
}

.img-container {

    width: 200%;
    height: 100%;
}

.ra_item {
    display: none;
}

/* radio for two diffrecnt type background */

.item {
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}


.img-container div.item:nth-child(3) {
    background-image: url("image/goni2-plain.png");
    left: 0;
    background-size: cover;
    background-position: 100% 50%;
    display: flex;
    align-items: center;
}

.img-container div.item:nth-child(4) {

    align-items: center;
    background-image: url(image/puple3.png);
    background-size: cover;
    display: flex;
}

/* label rage for controll page */
.item label {
    z-index: 1;
    display: block;
    width: 50vw;
    position: absolute;
    height: 100vw;
}

/* radio1 page control */
#ra1:checked~#designer {
    position: relative;
    width: 70vw;
}

#ra1:checked~#developer {
    width: 30vw;
}


#ra2:checked~#developer {
    position: relative;
    width: 75vw;
}

#ra2:checked~#designer {
    margin-left: -25vw
}

/*effect of transition*/

.trans{
    margin-right: 100%;
    transition: 0.6s;
    opacity: 0;
}
.trans.on{margin-right: 0;opacity: 1;}
.hiddenbox {
    display: none;
}
.trans2{
    opacity: 0;
transition: 0.1s;
}
.trans2.on{
opacity: 1;

}

/* skill section */
#skills {
    width: 100vw;
}

#skills .sk-develope {
    margin: 0;
    background-color: var(--sub-color);
    padding: 5rem 0;
}

#skills h2 {

    font-family: arial;
    font-weight: bold;
    position: absolute;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0;
}

#skills h4 {
    font-size: 0.9rem;
    font-family: arial;
    font-weight: bold;
    text-align: center;
}

#skills .skill {
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#skills .skill .progress-container {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-size: 1.125rem;
    color: #f3f3f3;
}

#skills .progress {
    height: 1.5rem;
    border-radius: 2rem;


    background-color: #373737;
}

#skills .progress-container .progress .progress-bar {
    padding-top: .35rem;
    position: relative;
    height: 1.5rem;
    background-color: var(--main-color);
}

#sk-design {
    padding: 5rem 0;
    background-color: var(--main-color);
}

#skills #sk-design .progress-container .progress .progress-bar {
    background-color: var(--sub-color);
}


/* portfolio page */


#portfolio {
    width: 100vw;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1s;
    height: 100vw;
}

.port-h1{
    text-align: center;
    color: white
}

.port-box {

width: 50vw;
    display: block;
    
    margin: 2rem auto
}

.card-body {
    background-color: white;
    width: 50vw;
    height: 20vh;
    padding: 1rem;
    border: #F6D2B7 double 5px;

}
.card-title{
    margin-bottom: 0;
}
.card {
    border: none
}

.pf-page1 {
    background-image: url('/image/purple-bg2.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.pf {
    padding: 3rem 0;
}

.pf-page2 {
   
    background-image: url('/image/orange-bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;    
    background-position: 50%;
}

.cursor {


    opacity: 0.65;
    background-size: cover;
    display: none;
    position: absolute;
    width: 300px;
    height: 500px;
    top: 10%;
    left: 20%;
    margin: -24px 0 0 -24px;
    /* border: 3px solid #f80759; */
    border-radius: 100px;
    backface-visibility: hidden;
    transition: transform 0.3s ease-out;
    z-index: 999;
}

.cursor1 {
    background-image: url(/image/hompage1.png);


}

.cursor2 {
    background-image: url(/image/hompage2.png);

}


#port-box2:hover+div.cursor2 {
    display: block
}

#port-box1:hover+div.cursor1 {
    display: block
}

.is-moving {
    opacity: 0.7;

    border-radius: 50px;
    backface-visibility: hidden;
    transition: transform 0.3s ease-out;
    z-index: 999;
    transform: scale(0.9);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* portfoilo page2 */
body {
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 90%;
    padding-bottom: 6rem;
}

.swiper-slide {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.swiper-button-prev { background-image: url('/image/next.png');
    transform: rotate(180deg);
    width: 150px;

}.swiper-button-next{
    background-image: url('/image/next.png');
    ;width: 150px;
}

.pic1 {
    background-image: url('image/doctor.png');    width: 300px;
    
}

.pic2 {
    background-image: url('image/goni-zom.png');
}

.pic3 {
    background-image: url('image/restore.jpg');
}

.pic4 {
    background-image: url('image/poster1.jpg');
}

.pic5 {
    background-image: url('image/frog-1335022_1920\ copy.jpg');
}

.swiper-pagination-bullet-active {
    background: var(--sub-color) !important
}


/* contacnt page */

#contact{
    
    background-color:var(--thrid-color);
    background-color:var(--thrid-color)
}

.btn-secondary{
    background-color: var(--sub-color);
    border:none
}


/*footer  */
.contact-box{
     background-color:var(--thrid-color)
}
p{color: var(--sub-color);}

#contact h5{
    color:var(--sub-color);
    margin-bottom: 0;
}



/* *******************
**********************
******tablet media***
********************** */

@media screen and (min-width:768px) {
*{font-size: 18px;}
    .nav {

        display: flex;
        justify-content: space-around;
    }

    a.nav-link {
        font-size: 4rem;
        line-height: 120px;
        font-family: 'Rozha One';
    }

    a.nav-link:hover {
        color: #ff9680
    }

    .skill-box{padding-top: 2rem;}
    .progress {
        display: -ms-flexbox;
        display: flex;
        height: 2rem;
        overflow: hidden;
        line-height: 0;
        font-size: .75rem;
        background-color: #e9ecef;
        border-radius: .25rem;
    }
    #skills .progress-container .progress .progress-bar {
        padding-top: .35rem;
        position: relative;
        height: 2rem;
        background-color: var(--main-color);
    }
    #home {
        width: 100vw;
        height: 100vh;
        overflow: hidden
    }

    .img-container {

        width: 200%;
        height: 100%;
    }

    .ra_item {
        display: none;
    }

    /* radio for two diffrecnt type background */

    .item {
        display: block;
        float: left;
        width: 25%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
    }


    .img-container div.item:nth-child(3) {

        left: 0;
        background-size: cover;
        background-position: 100% 50%
    }

    .img-container div.item:nth-child(4) {
        background-image: url("image/puple3.png");
        background-size: cover;
    }

    /* label rage for controll page */
    .item label {
        display: block;
        width: 50vw;
        position: absolute;
        height: 100vw;
    }

    .data_box p {
        padding: 3rem;
    }

    /* portfolio vertical text heading */
    /* .pf h1{transform:rotate(-90deg);}
    .vertical1{
        position: absolute;
        left:0%;
        bottom: 60%;    
    } */
    .card-body {
        width: 40vw;
        height: 10vh;
    }

    .port-box {


        display: block;
        width: 40vw;
        height: 20vh;
        margin: 1rem auto
    }
    .pf-page2 {
   
        background-image: url('/image/skin-orange.png');
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;    
        background-position: 50%;
    }

}

/* end of mediaquery */

/* *******************
desktop media
********** */
@media (min-width:1280px) {

    *{font-size: 20px;}
    p{font-size: 1.2rem;}
    a.nav-link {
        font-size: 1.5rem;
        line-height: 50px;
        font-family: 'Rozha One';
    }

    .card-body {
        width: 40vw;
        height: 14vh;
    }
    .menu-box {
        display: none;
    }

    ul.desktop-menu {
        display: block;
    }

    .desktop-menu li {

        float: left;
    }

    .desktop-menu li a {
        margin-left: 25rem;
    }



    h1 {
        font-size: 2.5rem;
    }

   #contact p{padding:1rem 10rem}

}
