@charset "utf-8";



/*mian*/

.page1{max-height: 900px}
#vs{position: relative;}
.pic{transition: 0.5s;     background-color: #fbe7e8;width: 100w;height: 850px;position: relative;}
.woman{position: absolute;display:block;height: 100%;left: 400px;animation: wo 1s linear;animation-fill-mode: both;}

.txt_box{position: absolute; z-index: 50px;width: 550px; height: 400px;left:150px;top:150px;font-size: 30px;text-shadow:10px 10px 10px #333;animation:txt cubic-bezier(0.4,0,0.4,1) 1000ms 200ms;animation-fill-mode: both;}

@keyframes txt {
    from{opacity:0;
                transform: translate(0,0px);
                text-shadow: 0 0 transparent, 0em 0em transparent;}
     to{opacity: 0.8; 
            transform: translate(20px,120px);
            text-shadow:10px 10px 5px #333, }
}
@keyframes wo { 
    from{opacity:0;transform: translate(500px,0px);}
    to{opacity: 1; transform: translate(100px,0px);}

}
    

.txt_box span{ color: darkgray;}
.b{margin-left: 50px}
.s{margin-left: 100px;width: 500px;}
.s{margin-left: 100px;width: 500px;}


/*page2*/
.page2{}
.title{font-family: 'Jua';margin-top: 150px;text-align: center;background-color: rgba(1,1,1,0.2);left:-1200px;transform: translateX(0)2s;}

.top_text{ font-family: 'Jua';width: 700px;height: 100px; margin:auto;line-height: 30px;margin-top: 80px;margin-bottom: 100px;}
.top_text p {display: block; width: 500px; height: 60px;text-align: center; margin: 0 auto;}
.con_box{width: 1280px; height: 500px;margin: 0 auto;}
.con_box li:hover {box-shadow: 5px 5px 10px darkgray;background-color:rgba(169,169,169,0.9);color: #fff;}
.con_box li{float:left;margin-right: 15px;width: 300px;height: 400px;background-color: #e7e7e7;position: relative;}
.item1 {margin-left: 12.5px;}
.bt_txt{font-family: 'Jua';width: 800px;height: 200px;margin: 0 auto;text-align: center;}

h2,p{text-align: center;}
.con_txt{margin-top: 20px}
.more{display: block; font-size: 12px; width: 60px;height: 30px;text-align: center;line-height: 30px;border-radius: 20px;background-color: rgba(1,1,1,0.5);font-weight: bold;position: absolute;right:10px;bottom:10px}
.more a {color: black;}
.more:hover {background-color:rgba(1,1,1,1);transition: 0.5s;box-shadow: 5px 5px 10px #333;border:1px dashed #fff;transition: 0.3s }
.more:hover a{color: white}

/*page3*/
.cer{color:darkgray;200px;height: 30px;font-size: 30px;margin: auto;padding-top: 80px;padding-bottom: 20px}
.page3{background-color: #fbe7e8; height: 850px;}
.pic_box{margin: 0 auto;width: 1200px;height: 560px;position: relative;margin-top: 50px;transition: 0.9s;}
#person{width: 400px;height: 560px; position: relative;overflow: hidden}
.per:before {content: "";position: absolute;display: block;width: 400px;height: 300px;box-sizing:border-box;border:10px solid rgba(255,255,255,0.5);top:0;left: 0;opacity: 0;z-index: 3;transition: 0.5s;transform: scale(0)}
.per:hover::before{opacity: 1;transform: scale(1)translateY(260px);}
.pic_box:hover{box-shadow: 5px 5px 30px #e8e8e8;transition: 0.8s }
.jianli{width: 400px;height: 300px;font-size: 17px;color:darkgray;line-height: 40px;text-align: center;background-color: rgba(255,255,255,0.3);opacity: 0;padding-top: 10px}

#person:hover .jianli{transform: rotate(360deg) translateY(-300px);transition: 0.5s;opacity: 1}
.pic_box li{display:block;margin:0px;padding: 0;float: left;}
.th_box{width: 400px;float: left;}
img{display: block;}
.item:hover {transition: 0.5s; transform: scale(1.2);opacity: 1}






