@charset"utf-8";
    html, body{font-family: 'Jua';color:#333;width: 100vw;height: 100vh;}
    .banner{width:100vw;background-color: black}
    img{max-width:100vw;height: auto;margin: 0 auto;display: block}
    .com_box{max-width: 1200px;background-color:  #e7e7e7;position: relative;height: 1100px;margin: 0 auto;text-align: center;clear: both;}
    .img_box{width: 100%;height: auto; background-color:#feefed }
    .com_box img{display: block;}
    .r_i, .l_i img{position: relative;}
    .r_b, .l_b{width: 40px;position: absolute;top:50%}
    .r_b{right: 0}
    .ra{width: 30px;height: 30px;background-color: rgba(225,225,225,0.1);position: absolute;z-index: 1}
    lebel{display: block;position: absolute;z-index: 1}
    #rdo1:checked ~ 
    #top_tit{font-size: 15px;margin: 40px auto;padding: 50px; text-align: center;max-width: 1400px;}
h2{font-size: 18px;margin: 40px auto;padding: 50px; text-align: center;max-width: 1400px;}
    .ft{margin-top: 100px;clear:both;margin: 0 auto;}
    .tit_box{margin-left: 20px; width: 28%;height: 300px;float: left;margin-top: 20px;font-size: 18px;margin-bottom: 100px;padding-left: 30px}
    p{padding: 5px}
     .com_box:hover {background-color: darkgray; color:white}
      .com_box:before {content: "";position: absolute;display: block;width: 500px;height: 500px;background-image: url(fold.png);bottom: 0;right: 0;opacity: 0;z-index: 3;transition: 0.5s;background-repeat: no-repeat; background-position: center; width: 80px;height: 80px;}
   .com_box:hover::before{opacity: 1;}
         input{display:none}
         .b_box{width: 300%;height: 700px;position: relative;}
         .box{float:left;position: relative;}
#rdo1:checked ~.b_box .two {display: none}
#rdo2:checked ~.b_box .one {display: none;transition: 0.5s}
fieldset{box-sizing: border-box:4px solid #333;background-color: rgba(225,225,225,0.6);padding: 10px}
         
         h1{width: 200px;height: 100px;margin: 0 auto;line-height: 100px; animation: ani1 ease 2s infinite;font-size: 35px;animation-direction:alternate-reverse}
         .hamberg{position: absolute;}
       
       #gnb{margin-top: -100px}

         @keyframes ani1 {
             from {opacity: 0; text-shadow: 0 0 transparent;}
             to{opacity: 1; text-shadow:  10px 10px 10px lightgray, 15px 15px 10px #eee 18px 18px 10px gray ;transform: translate(30px)}
         }
         

